In [ ]:
##########################################################################################
# Final Project
# This project will be taking the data from climate into below freezing temperatures
# and taking the times where Peyton Manning made completed passes in 
# uncovered arenas and compare it to the passes he makes 
# incomplete in the uncovered areans. This is going to answer the 
# question if Peyton Manning can make complete passes in cold weather.
# Reading in two different data sets. The first data set is 'Peytontemps.csv' which is
# all of the temperatures, dates, and location of the games. In order to solve the
# problem of which arena had a dome closed or open; if it was open I assumed the 
# temperature of 70 degrees (F). The second data set is 'Peytonpassing.csv' which is
# the date of the game, completion percentage and rate percentage.
# 
# By: Heather Bricca
#
# November 28,2018
#
#
# I have not given or received, nor have I tolerated others' use of unauthorized aid.
#
#
##########################################################################################

In [19]:
# Defining the dataset and importing the modules we will need.
import warnings
warnings.filterwarnings('ignore', 'numpy.dtype size changed')

from datetime import datetime
import numpy as np
import pandas as pd

In [20]:
# Importing the data sets here.

pass_percent = pd.read_csv('/home/hbricca/met330/final-project-hbricca/Peytonpassing.csv')
temps = pd.read_csv('/home/hbricca/met330/final-project-hbricca/Peytontemps.csv')

In [30]:
pass_percent.shape
pass_percent

           Year    Cmp   Rate
0    1998-09-06  56.76   58.6
1    1998-09-13  63.64   51.1
2    1998-09-20  45.45   39.3
3    1998-09-27  59.38   63.2
4    1998-10-04  52.17   66.8
5    1998-10-11  48.78   62.6
6    1998-10-18  60.00  117.5
7    1998-11-01  57.69   69.2
8    1998-11-08  52.38   47.7
9    1998-11-15  59.09   81.3
10   1998-11-22  48.28   48.6
11   1998-11-29  64.29  105.0
12   1998-12-06  70.37   79.1
13   1998-12-13  65.38  128.7
14   1998-12-20  58.97   84.9
15   1998-12-27  50.00   56.6
16   1999-09-12  63.64   85.9
17   1999-09-19  60.00   88.6
18   1999-09-26  53.70   82.6
19   1999-10-10  70.83  130.9
20   1999-10-17  60.00   74.7
21   1999-10-24  51.52   88.4
22   1999-10-31  64.71  104.2
23   1999-11-07  63.64   89.2
24   1999-11-14  57.14   85.1
25   1999-11-21  61.54  129.5
26   1999-11-28  74.19   74.4
27   1999-12-05  79.31   86.8
28   1999-12-12  55.56  101.8
29   1999-12-19  62.16   94.2
..          ...    ...    ...
263  2014-09-07  61.11  111.9
264  2014-09-14  80.77  143.9
265  2014-09-21  63.27   85.7
266  2014-10-05  65.96  110.2
267  2014-10-12  66.67  117.9
268  2014-10-19  84.62  157.2
269  2014-10-23  71.43  124.2
270  2014-11-02  59.65   80.9
271  2014-11-09  70.45  111.9
272  2014-11-16  62.96   75.3
273  2014-11-23  80.00  135.4
274  2014-11-30  50.00   85.3
275  2014-12-07  70.00   56.9
276  2014-12-14  70.00  125.6
277  2014-12-22  63.64   61.8
278  2014-12-28  56.76   80.1
279  2015-01-11  56.52   75.5
280  2015-09-13  60.00   59.9
281  2015-09-17  57.78   86.9
282  2015-09-27  73.81  101.7
283  2015-10-04  62.96   68.9
284  2015-10-11  62.86   62.3
285  2015-10-18  54.17   53.3
286  2015-11-01  72.41   96.9
287  2015-11-08  58.33   78.6
288  2015-11-15  25.00    0.0
289  2016-01-03  55.56   80.3
290  2016-01-17  56.76   74.4
291  2016-01-24  53.13   90.1
292  2016-02-07  56.52   56.6

[293 rows x 3 columns]

In [22]:
temps.shape
temps

#temps_values

           Year  Temperatures
0    1998-09-06            70
1    1998-09-13            70
2    1998-09-20            78
3    1998-09-27            70
4    1998-10-04            70
5    1998-10-11            70
6    1998-10-18            61
7    1998-11-01            70
8    1998-11-08            78
9    1998-11-15            70
10   1998-11-22            47
11   1998-11-29            73
12   1998-12-06            70
13   1998-12-13            70
14   1998-12-20            70
15   1998-12-27            70
16   1999-09-12            70
17   1999-09-19            58
18   1999-09-26            64
19   1999-10-10            70
20   1999-10-17            62
21   1999-10-24            70
22   1999-10-31            70
23   1999-11-07            70
24   1999-11-14            57
25   1999-11-21            69
26   1999-11-28            70
27   1999-12-05            76
28   1999-12-12            70
29   1999-12-19            70
..          ...           ...
263  2014-09-07            79
264  2014-09-14            82
265  2014-09-21            83
266  2014-10-05            71
267  2014-10-12            64
268  2014-10-19            72
269  2014-10-23            70
270  2014-11-02            38
271  2014-11-09            69
272  2014-11-16            70
273  2014-11-23            32
274  2014-11-30            32
275  2014-12-07            57
276  2014-12-14            63
277  2014-12-22            51
278  2014-12-28            37
279  2015-01-11            38
280  2015-09-13            88
281  2015-09-17            83
282  2015-09-27            70
283  2015-10-04            83
284  2015-10-11            74
285  2015-10-18            47
286  2015-11-01            69
287  2015-11-08            53
288  2015-11-15            62
289  2016-01-03            47
290  2016-01-17            43
291  2016-01-24            38
292  2016-02-07            74

[293 rows x 2 columns]

In [23]:
# Plotting the data to see the trend
import matplotlib.pyplot as plt
ipass = pass_percent.iloc[:,1]

# Defining the date and time
date = pass_percent.iloc[:,0]

plt.figure(1, figsize = (12,8))
plt.plot(date, temps_values,linewidth=2, markersize=12, color = 'green')
plt.plot(date, ipass, color = 'red')
plt.xlabel('Time YYYY/MM/DD')
plt.xticks(range(1990, 2016,100))
plt.ylabel('Temperature [F]')
plt.savefig('passingpercentage.png', dpi=150)
plt.show()

NameError: name 'temps_values' is not defined

In [ ]:
ipass.shape

In [ ]:
# Defining the variables of years
years = temps.Year.values
print(years)
temp = temps.Temperatures.values
print(temp)

In [29]:
# Now making a definition to determine how many days he played in temperatures that were below 60 degrees
# with 60 degrees being the current benchmark of warmish temperatures in Fahrenheit.

def warm_days(temp):
    '''This is the defintion that will determine the number of days that Peyton Manning played
    in temperatures below 60 degrees
    
    where Y is the year,month,day
    and T is the temperatures during corresponding days
    Input:
    temp which is the temperatures from the temps data set
    
    Output:
    days which will be the number of days that were above 60
    and what those temperatures are
    
    if temp >= 60:
        print(temps)
    elif temp < 60:
        temp = false
    '''
for i in range(293):
    if (temp[i] >= 60):
        print('Warm days:', temp[i])

Warm days: 70
Warm days: 70
Warm days: 78
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 61
Warm days: 70
Warm days: 78
Warm days: 70
Warm days: 73
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 64
Warm days: 70
Warm days: 62
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 69
Warm days: 70
Warm days: 76
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 88
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 60
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 81
Warm days: 70
Warm days: 61
Warm days: 72
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 80
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 82
Warm days: 70
Warm days: 83
Warm days: 70
Warm days: 70
Warm days: 61
Warm days: 70
Warm days: 71
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 80
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 80
Warm days: 70
Warm days: 70
Warm days: 83
Warm days: 68
Warm days: 70
Warm days: 67
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 73
Warm days: 70
Warm days: 80
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 81
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 73
Warm days: 70
Warm days: 70
Warm days: 85
Warm days: 69
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 71
Warm days: 70
Warm days: 70
Warm days: 64
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 62
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 64
Warm days: 70
Warm days: 66
Warm days: 70
Warm days: 78
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 76
Warm days: 64
Warm days: 70
Warm days: 62
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 79
Warm days: 70
Warm days: 70
Warm days: 81
Warm days: 68
Warm days: 74
Warm days: 70
Warm days: 65
Warm days: 70
Warm days: 70
Warm days: 79
Warm days: 70
Warm days: 72
Warm days: 90
Warm days: 70
Warm days: 60
Warm days: 65
Warm days: 70
Warm days: 60
Warm days: 78
Warm days: 60
Warm days: 74
Warm days: 70
Warm days: 70
Warm days: 62
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 66
Warm days: 70
Warm days: 87
Warm days: 86
Warm days: 72
Warm days: 70
Warm days: 73
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 70
Warm days: 86
Warm days: 70
Warm days: 83
Warm days: 72
Warm days: 71
Warm days: 61
Warm days: 62
Warm days: 67
Warm days: 93
Warm days: 60
Warm days: 63
Warm days: 72
Warm days: 70
Warm days: 66
Warm days: 67
Warm days: 76
Warm days: 70
Warm days: 66
Warm days: 64
Warm days: 79
Warm days: 82
Warm days: 83
Warm days: 71
Warm days: 64
Warm days: 72
Warm days: 70
Warm days: 69
Warm days: 70
Warm days: 63
Warm days: 88
Warm days: 83
Warm days: 70
Warm days: 83
Warm days: 74
Warm days: 69
Warm days: 62
Warm days: 74

In [28]:
# Now making a definition to determine the days in which the temperatures were cold on given dates.
def cold_days(temp):
    ''' This is the definition that will determine the days in which the temperature was below
    60 degrees.
    
    where Y is the year,month,day
    and T is the temperature values in Fahrenheit
    
    Input: all temperature values in the array
    Output: only the temperature values that are below 60 degrees
    
    if temp < 60:
        print(temp)

    '''
temp = temps.Temperatures.values
for i in range(293):
    if (temp[i] < 60):
        print('Cold days:', temp[i])

Cold days: 47
Cold days: 58
Cold days: 57
Cold days: 29
Cold days: 56
Cold days: 53
Cold days: 54
Cold days: 28
Cold days: 28
Cold days: 55
Cold days: 50
Cold days: 54
Cold days: 53
Cold days: 43
Cold days: 25
Cold days: 36
Cold days: 45
Cold days: 35
Cold days: 37
Cold days: 46
Cold days: 31
Cold days: 39
Cold days: 56
Cold days: 43
Cold days: 32
Cold days: 26
Cold days: 43
Cold days: 41
Cold days: 50
Cold days: 58
Cold days: 56
Cold days: 34
Cold days: 34
Cold days: 57
Cold days: 37
Cold days: 55
Cold days: 52
Cold days: 49
Cold days: 41
Cold days: 41
Cold days: 55
Cold days: 55
Cold days: 14
Cold days: 51
Cold days: 37
Cold days: 43
Cold days: 57
Cold days: 48
Cold days: 39
Cold days: 56
Cold days: 56
Cold days: 57
Cold days: 51
Cold days: 52
Cold days: 40
Cold days: 9
Cold days: 57
Cold days: 52
Cold days: 28
Cold days: 56
Cold days: 15
Cold days: 55
Cold days: 41
Cold days: 53
Cold days: 38
Cold days: 32
Cold days: 32
Cold days: 57
Cold days: 51
Cold days: 37
Cold days: 38
Cold days: 47
Cold days: 53
Cold days: 47
Cold days: 43
Cold days: 38

In [33]:
# Finding the completion percentage for Peyton Manning himself 
passes = pass_percent.Cmp.values

ave_pass = np.average(passes)
print(ave_pass)

65.51515358361776

In [35]:
# Finding the completion percentage for cold days by using the average value of 65.5 from above calculation.
for j in range(293):
    if (passes[j] >= ave_pass):
        print('Good pass completion rate [%]:', passes[j])

Good pass completion rate [%]: 70.37
Good pass completion rate [%]: 70.83
Good pass completion rate [%]: 74.19
Good pass completion rate [%]: 79.31
Good pass completion rate [%]: 68.75
Good pass completion rate [%]: 68.75
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 80.0
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 75.0
Good pass completion rate [%]: 69.44
Good pass completion rate [%]: 68.75
Good pass completion rate [%]: 79.31
Good pass completion rate [%]: 65.71
Good pass completion rate [%]: 71.43
Good pass completion rate [%]: 75.0
Good pass completion rate [%]: 75.0
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 65.63
Good pass completion rate [%]: 74.0
Good pass completion rate [%]: 78.26
Good pass completion rate [%]: 76.32
Good pass completion rate [%]: 71.43
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 80.0
Good pass completion rate [%]: 72.34
Good pass completion rate [%]: 67.65
Good pass completion rate [%]: 73.33
Good pass completion rate [%]: 75.0
Good pass completion rate [%]: 83.33
Good pass completion rate [%]: 68.42
Good pass completion rate [%]: 84.62
Good pass completion rate [%]: 73.33
Good pass completion rate [%]: 72.73
Good pass completion rate [%]: 70.0
Good pass completion rate [%]: 68.97
Good pass completion rate [%]: 69.23
Good pass completion rate [%]: 79.31
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 82.14
Good pass completion rate [%]: 75.76
Good pass completion rate [%]: 78.79
Good pass completion rate [%]: 81.82
Good pass completion rate [%]: 82.61
Good pass completion rate [%]: 74.07
Good pass completion rate [%]: 74.19
Good pass completion rate [%]: 68.75
Good pass completion rate [%]: 77.78
Good pass completion rate [%]: 75.68
Good pass completion rate [%]: 74.29
Good pass completion rate [%]: 76.47
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 75.0
Good pass completion rate [%]: 68.42
Good pass completion rate [%]: 70.0
Good pass completion rate [%]: 71.43
Good pass completion rate [%]: 82.05
Good pass completion rate [%]: 69.23
Good pass completion rate [%]: 70.0
Good pass completion rate [%]: 75.0
Good pass completion rate [%]: 80.56
Good pass completion rate [%]: 77.78
Good pass completion rate [%]: 78.95
Good pass completion rate [%]: 65.79
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 68.97
Good pass completion rate [%]: 74.07
Good pass completion rate [%]: 78.38
Good pass completion rate [%]: 68.75
Good pass completion rate [%]: 68.97
Good pass completion rate [%]: 76.47
Good pass completion rate [%]: 80.0
Good pass completion rate [%]: 87.5
Good pass completion rate [%]: 68.75
Good pass completion rate [%]: 73.53
Good pass completion rate [%]: 67.86
Good pass completion rate [%]: 72.41
Good pass completion rate [%]: 72.73
Good pass completion rate [%]: 71.43
Good pass completion rate [%]: 81.25
Good pass completion rate [%]: 75.68
Good pass completion rate [%]: 85.29
Good pass completion rate [%]: 100.0
Good pass completion rate [%]: 73.68
Good pass completion rate [%]: 68.57
Good pass completion rate [%]: 75.61
Good pass completion rate [%]: 81.82
Good pass completion rate [%]: 67.65
Good pass completion rate [%]: 68.0
Good pass completion rate [%]: 70.97
Good pass completion rate [%]: 77.14
Good pass completion rate [%]: 76.67
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 77.78
Good pass completion rate [%]: 68.18
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 68.89
Good pass completion rate [%]: 70.18
Good pass completion rate [%]: 76.92
Good pass completion rate [%]: 71.74
Good pass completion rate [%]: 65.79
Good pass completion rate [%]: 73.08
Good pass completion rate [%]: 75.0
Good pass completion rate [%]: 71.43
Good pass completion rate [%]: 74.36
Good pass completion rate [%]: 65.85
Good pass completion rate [%]: 69.23
Good pass completion rate [%]: 73.08
Good pass completion rate [%]: 78.95
Good pass completion rate [%]: 70.45
Good pass completion rate [%]: 80.0
Good pass completion rate [%]: 73.33
Good pass completion rate [%]: 77.14
Good pass completion rate [%]: 71.05
Good pass completion rate [%]: 71.05
Good pass completion rate [%]: 72.22
Good pass completion rate [%]: 69.77
Good pass completion rate [%]: 79.31
Good pass completion rate [%]: 69.77
Good pass completion rate [%]: 86.49
Good pass completion rate [%]: 82.35
Good pass completion rate [%]: 78.57
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 68.18
Good pass completion rate [%]: 69.44
Good pass completion rate [%]: 66.1
Good pass completion rate [%]: 65.85
Good pass completion rate [%]: 89.29
Good pass completion rate [%]: 69.44
Good pass completion rate [%]: 74.42
Good pass completion rate [%]: 69.39
Good pass completion rate [%]: 80.77
Good pass completion rate [%]: 65.96
Good pass completion rate [%]: 66.67
Good pass completion rate [%]: 84.62
Good pass completion rate [%]: 71.43
Good pass completion rate [%]: 70.45
Good pass completion rate [%]: 80.0
Good pass completion rate [%]: 70.0
Good pass completion rate [%]: 70.0
Good pass completion rate [%]: 73.81
Good pass completion rate [%]: 72.41

In [9]:
# Finding the times where he completed passes and the temperatures were warm

temp_warm = 

if ipass.values >60:
    print
    
high_pass_percentages = np.where(ipass > 60)
#high_pass_percentages 

# Now plotting to see if the correlation between warm temperatures and high pass percentages are correlated using
# A scatter plot.
plt.figure(1, figsize = (12,8))
plt.plot(temp_warm, color = 'red' )
plt.plot(high_pass_percentages, color = 'black')
plt.xlabel('Pass Percentages')
plt.ylabel('Temperature [F]')

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
# Finding the times where he didn't have a high completed pass rate when the temperatures
# when they are 60 degrees and below.